.btn {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    display: inline-block;
    line-height: 1;

    &-hamburger {
        display: none;
        position: relative;
        padding: 17px;
        transition: background-color 250ms linear;
        background-color: transparent;
        z-index: 101;

        &:hover,
        &:active,
        &.is-opened {
            background: var(--color-black);
        }

        @media (min-width: 481px) and (max-width: 979px) {
            display: block;
            padding: 35px 31px 41px;
        }
    
        @media (max-width: 480px) {
            padding: 18px 16px 25px;
        }
    } 

    &-back-to-top {
        position: fixed;
        right: 50px;
        bottom: 50px;
        z-index: 1000;
        padding: 10px;
        border-radius: 3px;
        display: none;
        transition: background-color 0.4s linear;
        text-align: center;
        color: var(--color-white);
        background: var(--color-deep);
        font: var(--font-weight-text-link) var(--font-size-text-link) var(--font-sans-serif);

        &:hover,
        &:active {
            background: var(--color-light);
        }
    }

    &-back-to-top-show {
        display: block;
    }
}