.btn {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    display: inline-block;
    line-height: 1;

    &-hamburger {
        display: none;
        position: relative;
        padding: 17px;
        transition: background-color 250ms linear;
        background-color: transparent;
        z-index: 101;

        &:hover,
        &:active,
        &.is-opened {
            background: var(--color-button);
        }

        @media (max-width: 979px) {
            display: block;
            padding: 27px;
        }
    
        @media (max-width: 768px) {
            display: block;
            padding: 27px;
        }
    
        @media (max-width: 480px) {
            display: block;
            padding: 17px;
        }
    } 
}