.icon {
    display: inline-block;
    line-height: 1;

    &-hamburger {
        position: relative;
        width: 26px;
        height: 4px;
        background-color: var(--color-white);
        transition: transform 250ms linear;

        @media (min-width: 481px) and (max-width: 979px) {
            width: 37px;
            height: 6px;
        }

        @media (max-width: 480px) {
            width: 26px;
            height: 4px;
        }

        &:before,
        &:after {
            position: absolute;
            right: 0;
            left: 0;
            content: '';
            width: 26px;
            height: 4px;
            background-color: var(--color-white);
            transition: transform 250ms linear;

            @media (min-width: 481px) and (max-width: 979px) {
                width: 37px;
                height: 6px;
            }
    
            @media (max-width: 480px) {
                width: 26px;
                height: 4px;
            }
        }

        &:before {
            top: -8px;

            @media (min-width: 481px) and (max-width: 979px) {
                top: -11px;
            }
    
            @media (max-width: 480px) {
                top: -8px;
            }
        }
        &:after {
            bottom: -8px;

            @media (min-width: 481px) and (max-width: 979px) {
                bottom: -11px;
            }
    
            @media (max-width: 480px) {
                bottom: -8px;
            }
        }

        .is-opened & {
            background-color: transparent;

            &:before {
                transform: translate(8px, 0px) rotate(48deg);
                transform-origin: left top;

                @media (min-width: 481px) and (max-width: 979px) {
                    transform: translate(11px, 6px) rotate(48deg);
                }
        
                @media (max-width: 480px) {
                    transform: translate(8px, 0px) rotate(48deg);
                }
            }
            &:after {
                transform: translate(0, -17px) rotate(-46deg);
                transform-origin: right bottom;

                @media (min-width: 481px) and (max-width: 979px) {
                    transform: translate(0, -17px) rotate(-46deg);
                }
        
                @media (max-width: 480px) {
                    transform: translate(0, -17px) rotate(-46deg);
                }
            }
        }
    }
}
