.background-link {
    float: right;
    margin: -196px 0 0 0;
    a {
        transition: .5s;
        background-color: #bc3183;
        text-decoration: none;
        padding: 94px 104px 105px 94px;
        font-family: 'Quicksand', sans-serif;
        font-size: 50px;
        font-weight: 700;
        color: #fff;
    }
    a:hover {
        transition: .5s;
        background-color: #800080;
    }
}