.background-link {
    position: absolute;
    top: 0;
    right: 0;
    width: 228px;
    height: 244px;
    
    background-color: #bc3183;
    transition: background-color 0.4s linear;
    a {
        position: absolute;
        top: 98px;
        right: 94px;
        font: 700 50px/1 'Quicksand', 'Arial', 'Helvetica Neue', sans-serif;
        color: #fff;

    }
    
}
.background-link:hover {
    background-color: #800080;

}
