.banner {
    background: var(--color-banner-rgb);
    background: var(--color-banner-gradient);
    height: 579px;

    @media (max-width: 979px) {
        height: 550px;
    }

    @media (max-width: 768px) {
        height: 350px;
    }

    @media (max-width: 480px) {
        height: 175px;
    }

    .container {
        position: relative;
        height: 100%;
    }

    .holder {
        @include position;
        width: 100%;
        max-width: 695px;

        @media (max-width: 768px) {
            position: absolute;
            top: 50%;
            //Позиционирование контентной части в лево
            left: 15%;
            transform: none;
            max-width: 454px;
        }

        @media (max-width: 480px) {
            position: absolute;
            top: 50%;
            //Позиционирование контентной части в лево
            left: 15%;
            transform: none;
            max-width: 190px;
        }
    }

    h1 {
        margin: 0 0 32px;
        font: var(--font-weight-banner-h1) var(--font-size-banner-h1) var(--font-sans-serif);
        color: var(--color-white);
        
        @media (max-width: 320px) {
            margin: 0 0 17px;
        }
    
    }

    a {
        font: var(--font-weight-banner-a) var(--font-size-banner-a) var(--font-sans-serif);
        color: var(--color-banner-a);
        display: block;
        width: 100%;

        &:after {
            font: var(--font-weight-banner) var(--font-size-banner) var(--headings-font-family);
            color: var(--color-white);
            content: '>';
            position: absolute;
            right: 0;
        }
    }
}
