.br-portfolio {
    background-color: #5b0fa1;
    width: 341px;
    height: 295px;
    margin: -299px 0 0 0;
    a {
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 50px;
        color: #fff;
        padding: 126px 0 0 161px;
    }
}