.container {
    margin: 0 auto;

    h1 {
        padding: 290px 0 0 78px;
        font: 400 60px/1 'Montserrat', 'Arial', 'Helvetica Neue' sans-serif;
        color: #fff;
    
    }
    a {
        margin-left: 78px;
        font: 700 34px/1 'Quicksand', 'Arial', 'Helvetica Neue' sans-serif;
        color: #fff;
        opacity: 0.5;

        &:last-child {
        margin-left: 328px;
        opacity: 1;
        }
    }
}
