.copyright {
    position: absolute;

    p {
        font: var(--font-weight-copyright) var(--font-size-copyright) var(--font-sans-serif);
        color: var(--color-white);

        span {
            color: var(--color-copyright);
        }
    }
}
