.copyright {

    p {
        color: var(--color-white);
        font: var(--font-weight-copyright) var(--font-size-copyright) var(--font-sans-serif);

        span {
            color: var(--color-copyright);
        }
    }
}
