.footer {
  flex-shrink: 0;
  padding-top: 39px;
  padding-bottom: 39px;
  background-color: var(--color-header-footer);

  @media print {
    display: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: 768px) and (max-width: 979px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: 481px) and (max-width: 768px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media (max-width: 480px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
