.footer {
  flex-shrink: 0;
  background-color: var(--color-header-footer);
  padding-top: 39px;
  padding-bottom: 39px;

  @media (max-width: 979px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: 768px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media (max-width: 480px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
