.header {
  @include head-footer;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: var(--color-header-footer);
  
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}
