.link-portfolio {
    background-color: #27212c;
    height: 244px;

    .container {
        height: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .link {
        float: right;
        width: 228px;
        height: 100%;
    }
}
