.link {
    position: relative;
    transition: background-color 0.4s linear;
    color: var(--color-white);
    font: var(--font-weight-link) var(--font-size-link) var(--headings-font-family);
    background-color: var(--color-light);

    &:hover {
        background-color: var(--color-dark);
    }

    &-dark {
        background-color: var(--color-dark);

        &:hover {
            background-color: var(--color-light);
        }
    }
    
    span {
        @include position;
    }
}
