.link-br {
    padding: 49px 0 164px 78px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #fff;
    opacity: 0.4;
    a {
        margin: 0 0 0 316px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 34px;
        color: #fff;
        text-decoration: none;
        
    }
}