.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font: var(--font-weight-logo) var(--font-size-logo)/1 var(--font-sans-serif);
    color: var(--color-white);
  }
}
