.nav-list {
  @extend %listreset;
  @include flex;

  li {
    padding-left: 28px;
    padding-top: 2px;

    @media (max-width: 979px) {
      padding-left: 0;
      margin-bottom: 16px;
    }

    &:first-child {
      padding-left: 6px;
      padding-top: 2px;
    }
  }

  a {
    transition: opacity 250ms linear;
    color: var(--color-white);
    font: var(--font-weight-nav) var(--font-size-nav) var(--font-sans-serif);

    &:hover, 
    &:active {
      opacity: 0.5;
    }
  }

  @media (max-width: 979px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
