.nav {
    @include flex;

    &.active {
        position: absolute;
        z-index: 3;
        top: 80;
        left: 0;
        display: block;
    }

    @media (max-width: 320px) {
        display: none;
      }
}
