.nav {
    @include flex;

    &.is-opened {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        background: var(--color-black);

    }
    
    @media (max-width: 979px) {
        display: none;
    }
}
