.text-part {
    padding-top: 55px;
    padding-bottom: 175px;
    background-color: var(--background-color-text-part);
    font: var(--font-weight-text-part) var(--font-size-text-part) var(--font-sans-serif);
    color: var(--color-text-part);

    h3 {
        font: var(--font-weight-text-h3) var(--font-size-text-h3) var(--font-sans-serif);
        color: var(--color-text-part-h3);
        margin-bottom: 32px;
    }

    p {
        margin-bottom: 46px;
    }
}
