.text {
    column-count: 2;
    column-gap: 65px;
    
    p {
        font: 400 14px/1 'Montserrat', 'Arial', 'Helvetica Neue', sans-serif;
        color: #515151;
        padding-bottom: 46px;
    }
}
