.text-part {
    padding-top: 52px;
    padding-bottom: 136px;

    @media (min-width: 768px) and (max-width: 979px) {
        padding-bottom: 100px;
    }

    @media (min-width: 481px) and (max-width: 768px) {
        padding-top: 73px;
        padding-bottom: 104px;
    }

    @media (max-width: 480px) {
        padding-top: 47px;
        padding-bottom: 50px;
    }

    @media print {
        padding-top: 35px;
    }

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6,
    .h  {
        margin-bottom: 24px;
        color: var(--color-text-part-h3);
        
        @media (min-width: 481px) and (max-width: 768px) {
            margin-bottom: 40px;
            font-size: 36.5px;
        }

        @media (max-width: 480px) {
            margin-bottom: 25px;
            letter-spacing: -0.5px;
        }
    }

    p {
        max-width: 400px;
        margin-bottom: 32px;
        margin-left: 3px;
        color: var(--color-text-part);

        @media (min-width: 481px) and (max-width: 768px) {
            max-width: none;
            margin-bottom: 64px;
            letter-spacing: 1px;
        }

        @media (max-width: 480px) {
            max-width: 400px;
            margin-bottom: 47px;
            margin-left: 3px;
        }

        @media print {
            margin-bottom: 80px;
        }
    }

    .container {
        padding-left: 64px;

        @media (min-width: 481px) and (max-width: 979px) {
            padding-left: 85px;
            padding-right: 35px;
        }

        @media (max-width: 480px) {
            padding-left: 53px;
            padding-right: 48px;
        }

        @media print {
            padding-left: 35px;
        }
    }
}
