.text-link {
    overflow: hidden;
    position: relative;
    font: var(--font-weight-text-link) var(--font-size-text-link) var(--font-sans-serif);
    color: var(--color-text-link);
    height: 100%;

    .holder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
