@import 'functions';

// Global variables

// 'rem' base value
$rem: 10px;

// Breakpoints for include media mixin
$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 979px,
  'widescreen': 1200px,
);

:root {
  // Breakpoints
  --phone: #{map-get($breakpoints, 'phone')};
  --tablet: #{map-get($breakpoints, 'tablet')};
  --desktop: #{map-get($breakpoints, 'desktop')};
  --widescreen: #{map-get($breakpoints, 'widescreen')};

  // Colors
  --color-white: #fff;
  --color-grey: #999;
  --color-blue: #39f;
  --color-light: #bc3183;
  --color-dark: #5b0fa1;
  --color-header-footer: #373c3f;
  --color-banner-rgb: rgb(7,138,164);
  --color-banner-gradient: linear-gradient(333deg, rgba(7,138,164,1) 0%, rgba(14,165,187,1) 35%, rgba(23,178,196,1) 100%);
  --color-banner-a: rgba(255, 255, 255, 0.5);
  --color-text-link: #9282a0;
  --color-text-part: #515151;
  --color-text-part-h3: #088ca5;
  --color-copyright: #bc3183;
  --color-black: #202529;
  --color-deep: #27212c;

  // Fonts
  --font-sans-serif: 'Montserrat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  --font-serif: 'Times New Roman', Times, Baskerville, Georgia, serif;

  //Style fonts

  --font-weight-nav: 400;
  --font-size-nav: 15px/1;

  @media (min-width: 768px) and (max-width: 979px) {
    --font-weight-nav: 400;
    --font-size-nav: 30px/1;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    --font-weight-nav: 400;
    --font-size-nav: 25px/1;
  }

  @media (max-width: 480px) {
    --font-weight-nav: 400;
    --font-size-nav: 15px/1;
  }

  --font-weight-banner-h1: 700;
  --font-size-banner-h1: 60px/1;

  @media (min-width: 480px) and (max-width: 768px) {
    --font-weight-banner-h1: 700;
    --font-size-banner-h1: 40px/1;
}

  @media (max-width: 480px) {
    --font-weight-banner-h1: 700;
    --font-size-banner-h1: 25px/1;
}

  --font-weight-banner-a: 700;
  --font-size-banner-a: 34px/1;

  @media (min-width: 480px) and (max-width: 768px) {
    --font-weight-banner-a: 700;
    --font-size-banner-a: 26px/1;
}

  @media (max-width: 480px) {
    --font-weight-banner-a: 700;
    --font-size-banner-a: 16px/1;
}

  --font-weight-banner: 700;
  --font-size-banner: 36px/1;

  @media (min-width: 480px) and (max-width: 768px) {
    --font-weight-banner: 700;
    --font-size-banner: 26px/1;
}

  @media (max-width: 480px) {
    --font-weight-banner: 700;
    --font-size-banner: 11px/1;
}

  --font-weight-text-link: 700;
  --font-size-text-link: 30px/1;

  @media (min-width: 480px) and (max-width: 768px) {
    --font-weight-text-link: 700;
    --font-size-text-link: 22px/1;
  }

  @media (max-width: 480px) {
    --font-weight-text-link: 700;
    --font-size-text-link: 13px/1;
  }

  --font-weight-text-h3: 400;
  --font-size-text-h3: 30px/1;

  @media (min-width: 768px) and (max-width: 979px) {
    --font-weight-text-h3: 400;
    --font-size-text-h3: 40px/1;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    --font-weight-text-h3: 400;
    --font-size-text-h3: 37px/1;
  }

  @media (max-width: 480px) {
    --font-weight-text-h3: 400;
    --font-size-text-h3: 30px/1;
  }

  --font-weight-copyright: 400;
  --font-size-copyright: 15px/1;

  @media (min-width: 768px) and (max-width: 979px) {
    --font-weight-copyright: 400;
    --font-size-copyright: 25px/1;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    --font-weight-copyright: 400;
    --font-size-copyright: 20px/1;
  }

  @media (max-width: 480px) {
    --font-weight-copyright: 400;
    --font-size-copyright: 15px/1;
  }

  --font-weight-link: 700;
  --font-size-link: 50px/1;

  @media (min-width: 480px) and (max-width: 768px) {
    --font-weight-link: 700;
    --font-size-link: 38px/1;
  }

  @media (max-width: 480px) {
    --font-weight-link: 700;
    --font-size-link: 31px/1;
  }

  // Body base
  --base-background-color: #ebebeb;
  --base-font-family: var(--font-sans-serif);
  --base-font-size: 14px;
  --base-line-height: 26px;
  --base-text-color: var(--color-black);
  --base-min-width: 320px;
  --base-font-weight: 400;

  @media (min-width: 768px) and (max-width: 979px) {
    --font-weight-text-part: 700;
    --font-size-text-part: 27px/26px;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    --font-weight-text-part: 700;
    --font-size-text-part: 27px/26px;
  }

  @media (max-width: 480px) {
    --font-weight-text-part: 400;
    --font-size-text-part: 14px/26px;
  }


  @media (min-width: 481px) and (max-width: 768px) {
    --base-font-size: 25px;
    --base-line-height: 52px;
    --base-font-weight: 700;
  }

  @media (max-width: 480px) {
    --base-font-size: 20px;
    --base-line-height: 32px;
    --base-font-weight: 700;
  }

  // Links base
  --base-link-color: var(--color-blue);

  // Buttons base
  --btn-color: var(--color-white);
  --btn-background: var(--color-blue);
  --btn-padding: 0.4em 0.7em;
  --btn-font-size: 1.6rem;
  --btn-font-family: var(--font-sans-serif);

  // Headings base
  --headings-font-family: 'Quicksand', 'Arial', 'Helvetica Neue', sans-serif;
  --headings-color: var(--base-text-color);

  // Base font styles for headings
  --headings-sizes-h1: 3rem;
  --headings-sizes-h2: 2.7rem;
  --headings-sizes-h3: 30px;
  --headings-sizes-h4: 2.1rem;
  --headings-sizes-h5: 1.7rem;
  --headings-sizes-h6: 1.5rem;

  // Layout
  --container-desktop-horizontal-padding: 12px;
  --container-desktop-width: 979px;
}